# API
fastapi==0.115.0
uvicorn[standard]==0.30.6

# Settings
pydantic-settings==2.3.4
pydantic[email]>=2.0.0

# AI
groq==0.13.1
tavily-python==0.3.9

# Database
sqlalchemy==2.0.36
asyncpg==0.30.0
psycopg2-binary==2.9.9
alembic==1.13.3

# Cache
redis==5.1.1

# Auth
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==3.2.2

# Env
python-dotenv==1.0.1
